.receive_chat {
  display: block;
  margin-bottom: 20px;
}

.receive_chat span {
  background-color: #ebebeb;
  padding: 8px;
  margin-left: 10px;
  border-radius: 5px;
}

.receive_chat_date {
  display: block;
  margin-left: 45px;
  margin-top: 5px;
}

.sent_chat {
  display: block;
  float: right;
}

.sent_chat span {
  background-color: #05728f;
  padding: 8px;
  margin-left: 10px;
  display: block;
  color: #fff;
  border-radius: 5px;
}

.sent_chat_date {
  display: block;
  text-align: end;
  margin-top: 5px;
}
